{% include 'layout.html.twig' %}
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm">
            {{ render(controller('App\\Controller\\components\\cards\\MoviesBtnGroupCardComponentController::onInit')) }}
        </div>
        <div class="col-sm">
            {{ render(controller('App\\Controller\\components\\cards\\EmployeesBtnGroupCardComponentController::onInit')) }}
        </div>
        <div class="col-sm">
            {{ render(controller('App\\Controller\\components\\cards\\UsersBtnGroupCardComponentController::onInit')) }}
        </div>
    </div>
</div>