<!DOCTYPE html>
<html>
<head>
    <!-- ... -->

    {% block stylesheets %}
        {{ encore_entry_link_tags('test') }}
    {% endblock %}
</head>
<body>
<!-- ... -->

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}


<div class="my-cool-class">Hello World!</div>
</body>
</html>


